@charset "utf-8";
/* CSS Document */

/*========全局样式=========*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input,
  textarea, select, th, td, div {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

* {
  word-break: break-word;
}

address, caption, cite, code, dfn, th, var, b, s {
  font-style: normal;
  font-weight: normal
}

code, kbd, pre, samp {
  font-family: arial, Tahoma, Verdana, simsun, sans-serif;
}

small {
  font-size: 12px
}

ul, dl {
  list-style: none
}

ol {
  list-style-type: decimal;
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

legend {
  color: #000
}

fieldset, img {
  border: 0
}

button, input, select, textarea {
  font-size: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
  video {
  display: block;
  margin: 0;
  padding: 0
}

mark {
  background: #ff0
}
/*=======*/
body {
  color: #333;
  font-family: arial, Tahoma, Verdana, simsun, sans-serif;
  font-size: 12px;
  background-color: #FFF;
  line-height: 150%;
}

input, textarea {
  font-family: arial, Tahoma, Verdana, simsun, sans-serif;
}

input, button, select, textarea {
  outline: none
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
/* a:active {star:expression(this.onFocus=this.blur());} */
a:hover {
  color: #005eac;
  text-decoration: underline;
}

.found_reg input[type="text"], .found_reg input[type="password"], .found_reg select, .found_reg textarea, .t_css input[type="text"],
  .t_css input[type="password"], .t_css select, .t_css textarea, .photo_hj input, .photo_hj textarea, .upload_hj select,
  .p_a_right input, .p_a_right textarea {
  border: 1px #d1d1d1 solid;
  padding: 5px;
}

.found_reg input[type="text"], .found_reg input[type="password"] {
  height: 16px;
}

.found_reg textarea, .t_css textarea {
  min-height: 72px;
}
/*=====鼠标点击去掉外部虚线样式======
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}*/
/*======hover color========*/
a.Blue, a.Blue:hover {
  color: #005eac;
} /* 蓝色链接 */
a.green, a.green:hover {
  color: #598d26;
  text-decoration: none;
}

.b {
  font-weight: bold;
} /* 字体加粗 */
.u {
  text-decoration: underline;
} /* 文字加下划线 */
a.grass-green:link, a.grass-green:visited {
  color: #693;
  text-decoration: none;
}

a.grass-green:hover, a.grass-green:active {
  color: #693;
  text-decoration: underline;
}

a.gray, a.gray:hover {
  color: #333;
} /* 灰色链接 */
a.gray999, a.gray999:hover {
  color: #999;
}

a.orange3, a.orange3:hover {
  color: #ee4313;
}

a.white:link, a.white:visited {
  color: #fff;
  text-decoration: none;
}

a.white:hover, a.white:active {
  color: #fff;
  text-decoration: underline;
}

a.f-en18, a.f-en18:hover {
  color: #005eac;
  font-size: 18px;
} /* 蓝色数字链接 */
/*======clear========*/
.clear_h10 {
  clear: both;
  height: 10px;
  overflow: hidden;
}

.clear_h15 {
  clear: both;
  height: 15px;
  overflow: hidden;
}

.clear_h20 {
  clear: both;
  height: 20px;
  overflow: hidden;
}

.clear_h30 {
  clear: both;
  height: 30px;
  overflow: hidden;
}

.clear {
  clear: both;
}

.w990 {
  width: 990px;
  margin: 0px auto;
}

.bgf {
  background: #fff;
}

.ftnm {
  font-weight: normal;
}

img {
  border: 0;
}
/*=====字体颜色======*/
.Orange {
  color: #ee4313;
  font-weight: bold;
}

.fblue {
  color: #005eac;
}

.fblue14 {
  color: #005eac;
  font-size: 14px;
}

.fblue16 {
  color: #005eac;
  font-size: 16px;
  font-weight: bold;
}

.f8080 {
  color: #808080;
}

.cuf333 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.f999 {
  color: #999;
}

.f888 {
  color: #888;
}

.f666 {
  color: #666;
}

.f333 {
  color: #333
}

.fe6e6 {
  color: #e6e6e6;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.ftb {
  font-weight: bold;
}

.fti {
  font-style: italic;
}

.cu14 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.cu12 {
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.en10 {
  font-family: Arial, Helvetica;
  font-size: 10px;
  color: #999;
}

.red {
  color: #f00;
  font-weight: bold;
}

.orange {
  color: #c60;
  font-weight: bold;
}

.greenys {
  color: #360;
}

.yellow {
  color: #ffb946;
}

.yellow14 {
  color: #ffb946;
  font-size: 14px;
  font-weight: bold;
}

.f_normal {
  font-weight: normal;
}

/*=====字体大小======*/
.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
  font-weight: normal;
}

.cu-font14 {
  font-size: 14px;
  font-weight: bold;
}

.fcu14 {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
}

.cuti {
  font-weight: bold;
}

.sti16 {
  font-family: "宋体" !important;
  font-size: 16px;
}

/*----- Button样式 -----*/
.uiButton {
  cursor: pointer;
  display: inline-block;
  padding: 2px 8px;
  color: #333;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  background: url(../images_v5/sm_icon.png) -352px -122px no-repeat;
  background-color: #eee;
  border: 1px solid #999;
  border-bottom-color: #888;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  overflow: visible;
} /*box-shadow:设置块阴影 */
.uiButton-green {
  cursor: pointer;
  display: inline-block;
  padding: 5px 22px;
  color: #fff;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  background: url(../images_v5/sm_icon.png) -352px -179px no-repeat;
  border: 1px solid #285510;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  overflow: visible;
  font-size: 14px;
}

.uiButton-orange {
  cursor: pointer;
  display: inline-block;
  padding: 5px 22px;
  color: #fff;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  background: url(../images_v5/sm_icon.png) -352px -237px no-repeat;
  border: 1px solid #ce6b00;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  overflow: visible;
  font-size: 14px;
}

.uiButtonConfirm {
  color: #FFF;
  background: url(../images_v5/sm_icon.png) -352px -54px no-repeat;
  background-color: #5b74a8;
  border-color: #29447e;
  *border: 1px solid #29447e;
  text-decoration: none;
}

.uiButtonDisabled {
  color: #a0a0a0;
}

.text14 {
  font-size: 14px;
}

.text12 {
  font-size: 12px;
}

.f_normal {
  font-weight: normal;
} /*文字恢复正常*/
.uiButton+.uiButton {
  margin-left: 4px
} /* .uiButton + .uiButton IE6不认识 */
a.uiButton, a.uiButton:hover {
  color: #333333;
  text-decoration: none;
} /* padding:4px 8px;针对使用A标签做按钮时的定义*/
a.uiButtonConfirm, a.uiButtonConfirm:hover {
  color: #fff;
  text-decoration: none;
} /* padding:4px 8px;针对使用A标签做按钮时的定义*/
a.uiButton-green, a.uiButton-green:hover {
  color: #fff;
  text-decoration: none;
} /* padding:4px 8px;针对使用A标签做按钮时的定义*/
a.uiButton-orange, a.uiButton-orange:hover {
  color: #fff;
  text-decoration: none;
}

.uiSelectorButton {
  background-image: url(../images_v5/sm_icon.png);
  background-repeat: no-repeat;
  background-position: right -5px;
} /*更多*/
a.uiSelectorButton, a.uiSelectorButton:hover {
  padding-right: 18px;
}

.i_friend {
  width: 16px;
  height: 15px;
  background: url(../images_v5/sm_icon.png) -54px -80px no-repeat;
}

.i_edit {
  width: 8px;
  height: 8px;
  background: url(../images_v5/sm_icon.png) -25px -83px no-repeat;
  margin-top: 2px;
  overflow: hidden;
}

.b_icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  float: left;
}
/*分割线*/
.line_t1 {
  border-top: 1px solid #E4E4E4;
}

.line_b1 {
  border-bottom: 1px solid #E4E4E4;
}
/*========input==========*/
.inp_text {
  border: 1px solid #e1e7f1;
  padding-left: 3px;
  height: 24px;
  line-height: 24px;
}

.inp_text2 {
  border: 1px solid #e1e7f1;
  padding-left: 3px;
  height: 18px;
  line-height: 18px;
}

.inp_textarea {
  border: 1px solid #e1e7f1;
  padding: 3px;
  overflow-y: auto;
}

.inp_textarea2 {
  border: 1px solid #e1e7f1;
  padding: 3px;
  overflow-y: auto;
}

.inp_bg1 {
  background-color: #fbfbfb;
}

.inp_bg2 {
  background-color: #f4f4f4;
  border: none;
  height: 19px;
  line-height: 19px;
}

.inp_bg3 {
  background-color: #f7fef2;
  border: none;
  height: 22px;
  line-height: 22px;
}

.inp_bg4 {
  background-color: #f7fef2;
  border: none;
  overflow-y: auto;
}

.comment_input {
  width: 634px;
  border: 1px solid #c1c8d2;
  padding: 3px;
  overflow-y: auto;
  margin-top: 25px;
  word-wrap: break-word;
}

.filedesc_input {
  width: 418px;
  border: 1px solid #c1c8d2;
  padding: 3px;
  float: right;
  word-wrap: break-word;
}

.content_input {
  width: 482px;
  border: 1px solid #c1c8d2;
  padding: 3px;
  float: right;
  word-wrap: break-word;
}
/*--button-- */
.grey_but {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  color: #666;
  padding: 0px 20px;
  cursor: pointer;
  border: 1px #d6d6d6 solid;
  display: inline-block;
  text-decoration: none;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#fbfbfb, endColorStr=#f0f0f0);
  /*IE 6 7 8*/
  background: -ms-linear-gradient(top, #fbfbfb, #f0f0f0); /* IE 10 */
  background: -moz-linear-gradient(top, #fbfbfb, #f0f0f0); /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#f0f0f0)); /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#f0f0f0)); /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #fbfbfb, #f0f0f0); /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #fbfbfb, #f0f0f0); /*Opera 11.10+*/
}

*+html .grey_but {
  min-width: auto;
  padding: 0 4px;
}

.grey_but:hover {
  transition: border-color 0.5s;
  border: 1px #A8A8A8 solid;
  color: #333;
  text-decoration: none;
}

.grey_but1 {
  min-width: 50px;
  height: 28px;
  font-size: 14px;
  text-align: center;
  color: #666;
  border: 1px #d6d6d6 solid;
  padding: 0 10px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#fafafa, endColorStr=#f0f0f0);
  /*IE 6 7 8*/
  background: -ms-linear-gradient(top, #fafafa, #f0f0f0); /* IE 10 */
  background: -moz-linear-gradient(top, #fafafa, #f0f0f0); /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f0f0f0)); /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#f0f0f0)); /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #fafafa, #f0f0f0); /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #fafafa, #f0f0f0); /*Opera 11.10+*/
}

*+html .grey_but1 {
  min-width: auto;
  padding: 0 4px;
}

.grey_but1:hover {
  transition: border-color 0.5s;
  border: 1px #a8a8a8 solid;
  text-decoration: none;
  color: #333;
}

/*pop表格*/
.tr_box1 td { /*细线表格代码  tsz */
  border: 1px solid white;
}

.tr_box1 tbody tr td {
  padding: 5px 0px;
  background-color: f0eff1
}

.tr_box1 thead {
  background-color: #4F83BD;
  text-align: center;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.tr_box_tr0 {
  background-color: #D0D8E8
}

.tr_box_tr1 {
  background-color: #E8EDF4
}

.tr_box {
  border-collapse: collapse; /*细线表格代码*/
}

.tr_box td {
  border: 1px solid #e2e2e2;
}

.tr_box tbody td {
  padding: 10px 5px;
}

.tr_box thead {
  background-color: #f2f2f2;
  text-align: center;
  height: 28px;
  line-height: 28px;
}

.tr_box .bg01 {
  background-color: #fefcf0;
}

.tr_box .bg02 {
  background-color: #f2f2f2;
  font-weight: bold
}
/*=====margin==padding====*/
.mall10 {
  margin: 10px;
}

.mtop3 {
  margin-top: 3px;
}

.mtop5 {
  margin-top: 5px;
}

.mtop7 {
  margin-top: 7px;
}

.mtop10 {
  margin-top: 10px;
}

.mtop15 {
  margin-top: 15px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop25 {
  margin-top: 25px;
}

.mleft3 {
  margin-left: 3px;
}

.mleft5 {
  margin-left: 5px;
}

.mleft10 {
  margin-left: 10px;
}

.mleft15 {
  margin-left: 15px;
}

.mleft30 {
  margin-left: 30px;
}

.mleft40 {
  margin-left: 40px;
}

.mdown2 {
  margin-bottom: 2px;
}

.mdown5 {
  margin-bottom: 5px;
}

.mdown10 {
  margin-bottom: 10px;
}

.mdown15 {
  margin-bottom: 15px;
}

.mdown20 {
  margin-bottom: 20px;
}

.mdown40 {
  margin-bottom: 40px;
}

.mrgiht5 {
  margin-right: 5px;
}

.mright10 {
  margin-right: 10px;
}

.mright20 {
  margin-right: 20px;
}

.ptop2 {
  padding-top: 2px;
}

.ptop10 {
  padding-top: 10px;
}

.ptop15 {
  padding-top: 15px;
}

.pdown2 {
  padding-bottom: 2px;
}

.pdown20 {
  padding-bottom: 20px;
}

.pdown10 {
  padding-bottom: 10px;
}

.pdown15 {
  padding-bottom: 15px;
}

.pdown20 {
  padding-bottom: 20px;
}

.Fleft {
  float: left;
}

.Fright {
  float: right;
}

.hanggao {
  line-height: 18px;
}

.pd20 {
  padding: 20px;
}

.pd30 {
  padding: 30px;
}

.plr80 {
  padding-left: 80px;
  padding-right: 80px;
}

/*--input-- */
.w635 {
  width: 635px;
}

.w600 {
  width: 600px;
}

.w482 {
  width: 482px;
}

.w470 {
  width: 470px;
}

.w300 {
  width: 300px;
}

.w232 {
  width: 232px;
}

.w220 {
  width: 220px;
}

.w170 {
  width: 170px
}

.w152 {
  width: 152px;
}

.w146 {
  width: 146px;
}

.w140 {
  width: 140px;
  margin-right: 13px;
}

.w110 {
  width: 110px;
}

.h82 {
  height: 72px;
}

.w70 {
  width: 70px
}

.w50 {
  width: 50px
}

.ipt_grey {
  background: #efefef;
}

/*-----loadding div-------*/
.loadding_div_box {
  Z-INDEX: 900;
  POSITION: absolute;
  FILTER: Alpha(Opacity = 30);
  BACKGROUND-COLOR: #dddddd;
  DISPLAY: none;
  opacity: 0.3
}

.loadding_div_main {
  BACKGROUND-IMAGE: url(../images_v5/loading.gif);
  Z-INDEX: 901;
  BORDER-BOTTOM: medium none;
  POSITION: absolute;
  BORDER-LEFT: medium none;
  PADDING-BOTTOM: 0px;
  PADDING-LEFT: 0px;
  WIDTH: 25px;
  PADDING-RIGHT: 0px;
  DISPLAY: none;
  BACKGROUND-REPEAT: no-repeat;
  FLOAT: left;
  HEIGHT: 25px;
  BORDER-TOP: medium none;
  BORDER-RIGHT: medium none;
  PADDING-TOP: 0px
}

/*-----剪头-------*/
.publication-up {
  background: url(../images_v5/sm_icon.png) 0px -80px no-repeat;
  width: 9px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 3px;
}

.publication-down {
  background: url(../images_v5/sm_icon.png) 0px -227px no-repeat;
  width: 9px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 3px;
}

.shear_head-up {
  background: url(../images_v5/shear_head01.gif) no-repeat;
  width: 7px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 3px;
}

.shear_head-down {
  background: url(../images_v5/shear_head02.gif) no-repeat;
  width: 7px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 3px;
}

/*上传附件*/
.file_line {
  width: 405px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #c1c8d2;
  background-color: #f4f4f4;
}

.file_line2 {
  width: 300px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #c1c8d2;
  background-color: #f4f4f4;
}

.file_line3 {
  width: 290px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #c1c8d2;
  background-color: #f4f4f4;
}

.file_line4 {
  height: 20px;
  line-height: 20px;
  border: 1px solid #c1c8d2;
  background-color: #f4f4f4;
}

.icon_file2 {
  background: url(../images_v5/sm_icon.png) -312px 0px no-repeat;
  width: 10px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  margin-top: 4px;
}

.file {
  padding: 1px 0;
  padding-left: 18px;
  background: url(../images_v5/ico_file.gif) 3px 5px no-repeat #F4F4F4;
}

/*添加图标*/
.addfriends, .cutfriends, .delfriends, .icon-attention.icon_send_info, .icon_unfollow {
  background: url(../images_v5/sm_icon.png) no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.addfriends {
  background-position: 3px -59px;
  padding-left: 2px;
}

.cutfriends {
  background-position: -300px -224px;
  padding-left: 2px;
}

.delfriends {
  background-position: -255px -197px;
  padding-left: 5px;
  zoom: 1;
}

.icon-attention {
  background-position: -255px -81px;
  padding-left: 3px;
  zoom: 1;
}

.icon_send_info {
  background-position: -279px -138px;
  padding-left: 3px;
}

.icon_unfollow {
  background-position: -313px -137px;
  padding-left: 3px;
}

.norecommend {
  background: url(../images_v5/icon_img.gif) 0px -246px no-repeat;
  padding-left: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

/*=====关闭、删除好友===*/
.delete-friend {
  float: right;
}

.delete-friend2 {
  float: right;
  margin-top: 1px;
}

.delete-friend a, .delete-friend2 a {
  background: url(../images_v5/sm_icon.png) 3px -10px no-repeat;
  width: 16px;
  height: 16px;
  display: block;
}

.delete-friend a:hover, .delete-friend2 a:hover {
  background: url(../images_v5/sm_icon.png) 3px -25px no-repeat;
  width: 16px;
  height: 16px;
  display: block;
}

a.pop-delete:link, a.pop-delete:visited {
  background: url(../images_v5/sm_icon.png) 0px -12px no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 6px;
}

a.pop-delete:hover, a.pop-delete:active {
  background: url(../images_v5/sm_icon.png) 0px -27px no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 6px;
}

a.box-delete:link, a.box-delete:visited {
  background: url(../images_v5/sm_icon.png) 0px -12px no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 6px;
}

a.box-delete:hover, a.box-delete:active {
  background: url(../images_v5/sm_icon.png) 0px -27px no-repeat;
  width: 9px;
  height: 9px;
  display: block;
  float: left;
  margin-top: 6px;
}

/*添加附件*/
.add_annex {
  background: url(../images_v5/sm_pic.png) -142px -91px no-repeat;
  width: 7px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}

.add_word {
  width: 423px;
  border: 1px solid #91d060;
  background-color: #f7fef2;
  height: 22px;
  line-height: 22px;
  float: left;
}

.add_word2 {
  width: 423px;
  border: 1px solid #91d060;
  background-color: #f7fef2;
  height: 40px;
  float: left;
}

.add_word3 {
  width: 423px;
  border: 1px solid #91d060;
  background-color: #f7fef2;
  float: left;
  padding: 3px 0px 3px 0px;
}

.annex_icon {
  background: url(../images_v5/sm_pic.png) -173px -91px no-repeat;
  width: 7px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  margin: 6px 0px 0px 5px;
}
/*pop*/
.pop_date img {
  margin-top: 2px;
}

.pop_buttom {
  background-color: #f0eff1;
  height: 32px;
  width: 100%;
  text-align: right;
  padding-top: 8px
}

.pop_buttom1 {
  background-color: #f0eff1;
  height: 14px;
  width: 100%;
  text-align: center;
}

.send_message tr td {
  padding: 5px 0px;
  table-layout: fixe;
}

.p_title {
  vertical-align: text-top;
  text-align: right;
}
/*名字备注*/
.tip_text {
  line-height: 180%;
  color: #999;
  font-size: 12px;
}
/*=============footer部分===========*/
#footer {
  margin: 0 auto;
  width: 980px;
}

.box_footer {
  width: 980px;
  border-top: 1px solid #c0ccd6;
  padding-top: 10px;
  margin-top: 20px;
  overflow: hidden;
  float: left;
}

.footer-left {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}

.footer-right {
  float: right;
  margin-bottom: 30px;
}

.footer-cente {
  margin-bottom: 30px;
  text-align: center;
}

#sm_footer {
  width: 900px;
  margin: 0px auto;
  text-align: center;
  padding-top: 25px;
}

#sm_footer p {
  line-height: 25px;
  color: #7b7c81;
}

#sm_footer p a {
  color: #7b7c81;
  text-decoration: none;
}

#sm_footer p a:hover {
  color: #7b7c81;
  text-decoration: underline;
}
/*编辑icon*/
.icon_edit {
  background: url(../images_v5/sm_icon.png) -285px -22px no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}

.icon_edit2 {
  background: url(../images_v5/sm_icon.png) -211px -224px no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.icon_del {
  background: url(../images_v5/del_img.gif) 50% 50% no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
/*水印样式*/
.watermark {
  color: #999 !important;
}
/*====文字缩略====*/
.text-overflow {
  width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 6px;
  display: inline;
}

.text-overflow2 {
  width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  _margin-top: 2px;
}

.text-overflow3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/**/
.img_choose {
  background: url(../images_v5/img_choose.gif) no-repeat;
  width: 10px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.img_nochoose {
  background: none;
  width: 10px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.icon_key {
  background: url(../images_v5/icon_key.gif) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.icon_prop {
  background: url(../images_v5/mainreg_icon_error.gif) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.icon_people {
  background: url(../images_v5/little_people.gif) 0px 1px no-repeat;
  width: 18px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.icon_people2 {
  background: url(../images_v5/little_people.gif) 0px -24px no-repeat;
  width: 18px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/**左菜单下共享记录提示div**/
.tips_addfile {
  color: #434049; /*line-height: 16px;*/
  font-size: 12px;
  font-weight: normal;
  padding-left: 20px;
  background: url(../images_v5/mainreg_icon_error2.gif) 1px 1px no-repeat;
}

.tips {
  color: #666666;
  padding: 3px;
  background: #FEFBE3;
  border: #CAC6A3 1px solid;
}

.tips_close {
  width: 20px;
  height: 20px;
  float: right;
  text-align: right;
}

.tips_info {
  margin: auto;
  padding: 8px;
}

.tips_info li {
  padding-left: 30px;
  line-height: 20px;
}

.tips_wrong {
  padding: 5px 0;
  padding-left: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  background: url(../images/tips_wrong.gif) left center no-repeat;
}

/*我的主页编辑*/
.myedit {
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.myedit .mywrap {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.myedit .mywrap:hover .bg {
  background: #ebebeb;
  transition: background-color 0.5s;
  background: #dce8f5;
  border: 1px #dce8f5 solid;
  padding: 4px;
}

.myedit .mywrap:hover .myedit {
  width: 26px;
  height: 26px;
  border: 1px #dedede solid;
  transition: border-color .5s;
  border: 1px #a1bfde solid;
  background: url(../images_v5/edit_ico2.png) no-repeat center #dedede;
  transition: background-color 0.5s;
  background: url(../images_v5/edit_ico2.png) no-repeat center #a1bfde;
}

.myedit .myfnt {
  display: inline-block;
  padding: 5px;
  margin: 0 50px 2px 0;
  border-radius: 3px;
}

.myedit .myedit {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 20px;
  display: inline-block;
  margin-left: 8px;
}

.myedit:hover .bg {
  background: #ebebeb;
}

.myedit:hover .myedit {
  background: url(../images_v5/edit_ico1.png) no-repeat center #dedede;
  border: solid 1px #dedede;
}

.myedit li {
  border-bottom: none;
}

#myedit_mb2 {
  list-style: none;
}

#myedit_mb2 li {
  float: left;
  margin-bottom: 2px;
  margin-top: 5px;
  display: block
}

/*两例*/
.twolst {
  width: 988px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px #e2e2e2 solid;
  background: #fcfcfc;
}

* html .twolstl {
  overflow: hidden;
}

.twolstl {
  width: 710px;
  border-right: 1px #e2e2e2 solid;
  min-height: 580px;
  box-shadow: 1px 0px 3px #e0e0e0;
  -webkit-box-shadow: 0px 0px 5px #e0e0e0;
  -moz-box-shadow: 0px 0px 5px #e0e0e0;
}
/*提示*/
.cen_hint {
  background: #fefaf9;
  border: 1px #ffcebe dashed;
  padding: 14px 10px;
  display: block;
  line-height: 20px;
  margin-top: 10px;
}

.cen_hint dt, .cen_hint dd {
  display: block;
}

.cen_hint dd {
  max-width: 620px;
}

.cen_hint .redmark {
  margin: -2px 6px 0 0;
}

/*列表*/
#rol_main {
  width: 980px;
  margin: 0px auto;
  margin-bottom: 10px; /*overflow:hidden;*/
}
/*内容区标题*/
.rol_maintitle {
  font-weight: bold;
  font-size: 14px;
}

.t_css {
  background: #fff;
}

.t_css th, .t_css td {
  padding-left: 5px;
}

.t_css th {
  height: 28px;
  line-height: 28px;
  color: #999999;
  background-color: #f2f2f2;
  border-top: #e9e9e9 1px solid;
}

.t_css tr p { /*line-height:16px; */
  margin-bottom: 3px;
}

.line_2 td {
  padding: 10px 0px 10px 5px;
  border-bottom: 1px #e9e9e9 solid;
}

.h80 {
  height: 80px;
}

.w350 {
  width: 312px;
}

/*我的动态 右侧导航ico*/
.dynamic_tt {
  width: 100%;
  height: 10px;
  border-top: solid 1px #e2e2e2;
  margin-top: 16px;
  position: relative;
}

.dynamic_tt span {
  width: auto;
  height: 20px;
  font-size: 13px;
  color: #999;
  font-weight: bold;
  background: #fff;
  padding-right: 16px;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 0px;
}

.syico, .xmico, .qgico, .wjico, .lwico, .jjico, .hyico, .rsico, .zjico, .qzico {
  width: 24px;
  height: 24px;
  background: url(../images_v5/dynamic.png) no-repeat;
  display: inline-block;
  margin: 0 8px 0 2px;
}

.syico {
  background-position: 0 -0px;
}

.xmico {
  background-position: 0 -34px;
}

.qgico {
  background-position: 0 -69px;
}

.wjico {
  background-position: 0 -104px;
}

.lwico {
  background-position: 0 -138px;
}

.jjico {
  background-position: 0 -172px;
}

.hyico {
  background-position: 0 -207px;
}

.rsico {
  background-position: 0 -242px;
}

.zjico {
  background-position: 0 -276px;
}

.qzico {
  background-position: 0 -311px;
  text-align: center
}

.dynamic_lst {
  width: 100%;
}

.dynamic_lst li {
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dynamic_lst li i, .dynamic_lst li span, .dynamic_lst li img {
  vertical-align: middle;
}

.dynamic_lst li a {
  color: #666;
  font: bold 14px/24px "Arial", "宋体";
  text-decoration: none;
}

.dynamic_lst li a:hover {
  color: #005eac;
}

/*关于我们*/
.team_banner {
  width: 100%;
  height: 380px;
  background: url(../images_v5/about_us.jpg) no-repeat center;
  background-size: cover;
}

.team_banner_en {
  width: 100%;
  height: 380px;
  background: url(../images_v5/about_us_en.jpg) no-repeat center;
  background-size: cover;
}

.us_cont {
  padding: 0 35px;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  border-top: 2px solid #e3e3e3;
  color: #333333;
  margin: 60px 0 0;
  display: block;
}

.us_cont h2 {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.us_cont h2 span {
  border-top: 2px solid #000000;
  font-size: 24px;
  padding: 20px 15px;
  display: inline-block;
  margin-top: -2px;
}

.us_cont p {
  font-size: 14px;
  line-height: 24px;
  margin: 5px 0 30px 0;
}

.team {
  width: 920px;
  height: 332px;
  background: url(../images_v5/team.jpg) no-repeat center;
  margin: 60px 0 150px;
  overflow: hidden;
}

.team_en {
  width: 920px;
  height: 332px;
  background: url(../images_v5/team_en.jpg) no-repeat center;
  margin: 60px 0 150px;
  overflow: hidden;
}

/*关于我们 0701更新*/
.team_banner1 {
  width: 100%;
  height: 256px;
  background: url(../images_v5/about-us/about_us1.jpg) no-repeat center;
}

.grey_bg {
  background: #f8f8f8;
}

.about_infro {
  padding: 20px 0;
}

.about_infro_wrap {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.about_infro_wrap img {
  width: 460px;
  height: 235px;
  margin-left: 20px;
  margin-right: 20px;
}

.about_tx {
  width: 400px;
  margin-top: 20px;
  font: 14px normal "Microsoft Yahei";
  line-height: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.about_tx h2 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font: 24px normal "Microsoft Yahei";
  color: #333;
}

.us_pic {
  width: 100%;
  height: 354px;
  padding: 60px 0;
  text-align: center;
}

/*二维码*/
.code {
  width: 100%;
  color: #666;
  font: normal 12px "Microsoft YaHei";
  margin: 15px 0 0;
  overflow: hidden;
  vertical-align: middle;
}

.code img {
  width: 74px;
  height: 74px;
  margin-right: 20px;
  float: left;
}

.code span {
  margin-top: 26px;
  float: left;
  display: inline-block;
}