html {
  color: #222;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p,
  blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
  section {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-size: 12px;
  resize: none;
}

* {
  word-break: break-word;
}

input {
  overflow: visible;
}

ul, li {
  list-style: none;
}
/*input, select, textarea,span,a,i,li,ul,dl,dd,dt { font-size:100%; vertical-align:middle;}*/
.v_align input, table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: normal;
}

.ttr {
  text-align: right;
}
/* IE bug fixed: th 不继承 text-align*/
table, th, td, tr {
  margin: 0px;
  padding: 0px;
  line-height: 150%;
}
/* 去除默认边框 */
fieldset, img, a img {
  border: 0;
}

img {
  vertical-align: middle;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #005bac;
}

* {
  margin: 0 auto;
  font-family: "Roboto", "Noto Sans SC", "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}

.clear_h40 {
  clear: both;
  height: 40px;
  overflow: hidden;
}

.top-t {
  width: 100%;
  height: 100px;
  z-index: 40;
  position: relative;
}

.header-t {
  width: 100%;
  height: 44px;
  background: #fff;
  position: fixed;
  z-index: 45;
}

.header_wrap-t {
  width: 1200px;
  margin: 0 auto;
  height: 44px;
}

.header_wrap-t .logo {
  width: 280px;
  height: 32px;
  background: url("../../images_v5/images2016/logo.png") no-repeat;
  display: inline-block;
  margin-top: 6px;
  margin-right: 60px;
  cursor: pointer;
}

.header_wrap-t .search {
  width: 377px;
  height: 32px;
  margin-top: 5px;
  border: 1px solid #d9d9d9;
}

.header_wrap-t .search .tp_box {
  width: 40px;
  height: 32px;
  border-right: 1px solid #d9d9d9;
  background: #fafafa;
  display: inline-block;
  text-align: center;
  float: left;
}

.tp_box i {
  margin-top: 4px;
}

.lt_icon, .lw_icon, .zl_icon, .ry_icon {
  width: 24px;
  height: 24px;
  background: url("../../images_v5/images2016/tp_icon.gif") no-repeat;
  display: inline-block;
  margin-top: 3px;
}

.lt_icon {
  background-position: 0 0;
}

.lw_icon {
  background-position: 0 -34px;
}

.zl_icon {
  background-position: 0 -68px;
}

.ry_icon {
  background-position: 0 -102px;
}

.search input[type="text"] {
  width: 284px;
  height: 32px;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
  border: 0;
  float: left;
  overflow: visible;
}

.search .s_btn {
  width: 32px;
  height: 32px;
  background: url("../../images_v5/images2016/s_btn.gif") no-repeat 2px 2px;
  display: inline-block;
  float: left;
}

#sm_header .search_new .s_btn {
  width: 36px;
  height: 36px;
  background: url("../../images_v5/images2016/s_btn.gif") no-repeat 5px 5px;
  display: inline-block;
  float: left;
}

.header_wrap-t .login {
  width: 240px;
  text-align: right;
}

.header_wrap-t .login a {
  font-size: 14px;
  color: #333;
  margin-left: 40px;
}

.header_wrap-t .login p {
  margin-top: 5px;
}

.nav-t {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #345281;
  background: #1e5bb2;
  font-size: 14px;
  position: fixed;
  top: 44px;
  z-index: 10;
}

.nav_wrap-t {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
}

.nav_wrap-t ul li {
  height: 36px;
  line-height: 36px;
  float: left;
  padding: 0 35px;
  font-weight: bold;
  position: relative;
}

.nav_wrap-t ul li.cur {
  background: #09439b;
}

.nav_wrap-t ul li a, .nav_wrap-t ul li.cur a {
  color: #fff !important;
  z-index: 10;
}

.nav_wrap-t ul li a:hover {
  text-decoration: none;
}

.nav_erji {
  top: 36px;
  left: 0;
  position: absolute;
  background: #fff;
  behavior: url(../../js_v5/js2016/pie.htc);
  border: 1px solid #dbdada;
  border-bottom: none;
  box-shadow: 0px 2px 5px #c8c8c8;
  -moz-box-shadow: 0px 2px 5px #c8c8c8; /*兼容firefox*/
  -webkit-box-shadow: 0px 2px 5px #c8c8c8; /*兼容safari或chrome*/
  z-index: 9;
  padding: 10px 0 15px 0;
  text-align: left;
}

.nav_erji dl dd {
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
  padding: 0 35px;
}

.nav_erji dl dd:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.nav_wrap-t .nav_erji dl dd a {
  color: #333 !important;
  font-size: 14px;
  display: block;
}

.top_slt {
  width: 16px;
  height: 16px;
  background: url("../../images_v5/images2016/login_slt.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.logining_icon {
  width: 28px;
  height: 28px;
  position: relative;
  float: left;
  margin-left: 10px;
}

.logining_icon    .login_msg_count {
  max-width: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  height: 16px;
  text-align: center;
  background: #bf3127;
  border-radius: 12px;
  line-height: 15px;
  color: #fff !important;
  position: absolute;
  top: 0px;
  left: 15px;
}

.version_en {
  float: left;
  line-height: 28px;
  color: #666666;
  margin-left: 10px;
}

.version_en a {
  color: #666;
  line-height: 28px;
}

.notice_icon, .question_icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../../images_v5/images2016/logining_icon.gif") no-repeat;
}

.notice_icon {
  background-position: 0 0;
}

.question_icon {
  background-position: -38px 0;
}

.notice_icon:hover {
  background-position: 0 -38px;
}

.question_icon:hover {
  background-position: -38px -38px;
}

.logining {
  float: right;
  color: #666;
  padding-top: 8px;
  text-align: right;
}
/*=======登陆下拉选项======*/
.mana_t {
  font-size: 14px;
  color: #333;
  vertical-align: middle;
  position: relative;
  behavior: url(../../js_v5/js2016/pie.htc);
}

.mana_t img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.mana_r {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  z-index: 11;
}

.mana_r {
  *display: inline;
  zoom: 1;
}

.mana_t {
  display: block;
  text-align: left;
}

.mana_p {
  visibility: hidden;
  position: fixed;
  top: 36px;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  z-index: 10;
  background: #fff;
  color: #666;
}

.mana_p a {
  min-width: 90px;
  height: 32px;
  line-height: 32px;
  display: block;
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
}

.mana_p a:hover {
  text-decoration: none;
  background: #f5f5f5;
}

.mana_t:hover .mana_p, .mana_r:hover .mana_p {
  visibility: visible;
}

.content-1200 {
  width: 1200px;
  margin: 0 auto;
}

.version-tip {
  width: 980px;
  margin: 80px auto;
  text-align: center;
}

.version-tip h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.version-tip h2 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #666;
}

.version-tip ul {
  margin: 70px auto 0;
}

.version-tip ul li a {
  display: block;
}

.version-tip ul li a p {
  margin-top: 20px;
  color: #005bac;
  font-size: 14px;
}

.version-tip ul li {
  display: inline-block;
  width: 170px;
  text-align: center;
}

.version-tip ul li img {
  width: 70px;
  height: 70px;
}

/*======底部样式=====*/
.footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #dddddd;
  padding: 20px 0;
  overflow: hidden;
}

.footer_wrap {
  padding: 0 20px;
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

.footer_wrap .scholarmate-code {
  width: 85px;
  text-align: center;
  float: left;
  /*  margin-left: 240px; */
}

.footer_wrap .scholarmate-code span {
  margin-top: 5px;
  display: inline-block;
}

.footer_cont {
  width: 420px;
  float: left;
  margin-top: 30px;
  overflow: hidden;
  color: #666;
}

.footer_cont p {
  font-size: 12px;
  line-height: 26px;
  color: #666;
  text-align: center;
}

.footer_cont p a {
  color: #666;
  margin: 0 10px;
}

.version-tip-q {
  width: 800px;
  padding-bottom: 140px;
  margin: 40px auto;
  text-align: left;
}

.version-tip-q h2 {
  text-align: left;
  font-size: 18px;
  color: #333;
  padding: 10px 0;
  font-weight: bold;
}

.version-tip-qc {
  font-size: 16px;
  color: #666;
}

.version-tip-qc a {
  color: #2882d8;
}
/*鼠标指向弹出框*/
.version-tip_pop {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
}

/*弹出气泡框*/
.version-tip_popcont {
  width: 800px;
  line-height: 28px;
  color: #666;
  border: 1px solid #ddd;
  position: absolute;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
  padding: 10px;
  left: -480px;
  top: 32px;
  z-index: 18;
  visibility: hidden;
}
/*气泡小箭头*/
.version-tip-arrow {
  position: absolute;
  width: 10px;
  height: 8px;
  top: -10px;
  left: 500px
}

.version-tip-arrow em {
  display: block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ddd;
}

.version-tip-arrow span {
  display: block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #fff;
  left: 1px;
  top: 1px;
}
/*气泡小箭头*/
.version-tip_pop:hover .version-tip_popcont {
  visibility: visible;
}

.version-tip_popcont img {
  border: 1px solid #ddd;
  vertical-align: top;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
  margin: 0 10px;
}

.hide {
  display: none;
}