<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
  default-lazy-init="true">
  <description>缓存服务</description>
  <bean id="memcacheClient" class="com.smate.core.base.utils.cache.IrisMemcachedClientFactoryBean">
    <property name="memcachedSrvUrls" value="${memcache.common.url}" />
  </bean>
  <!-- 人员公用缓存实现类 -->
  <bean id="fileCacheService" class="com.smate.web.file.cache.FileCacheServiceImpl">
    <property name="memcacheClient" ref="memcacheClient"></property>
  </bean>
  <bean id="snsCacheService" class="com.smate.core.base.utils.cache.SnsCacheServiceImpl">
    <property name="memcacheClient" ref="memcacheClient"></property>
  </bean>
</beans>