<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
  default-lazy-init="true">

  <description>ZooKeeper的配置文件</description>
  <context:property-placeholder location="classpath:config/test.properties"/><!-- 加载配置文件 -->
  <!--<context:component-scan base-package="com.smate.center.job.framework.zookeeper.service"/>
  <context:component-scan base-package="com.smate.center.job.framework.zookeeper.listener"/>-->
  <!-- ZooKeeper重连策略 -->
  <bean id="retryPolicy" class="org.apache.curator.retry.ExponentialBackoffRetry">
    <!-- 间隔时间基数 -->
    <constructor-arg index="0" value="1000"/>
    <!-- 重连策略 -->
    <constructor-arg index="1" value="3"/>
  </bean>

  <bean id="curatorFramework" class="org.apache.curator.framework.CuratorFrameworkFactory" factory-method="newClient"
    init-method="start">
    <constructor-arg index="0" value="127.0.0.1:2181"/>
    <!-- sessionTimeoutMs会话超时时间，单位为毫秒。默认是60000ms  -->
    <constructor-arg index="1" value="10000"/>
    <!-- connectionTimeoutMs连接创建超时时间，单位毫秒，默认15000ms -->
    <constructor-arg index="2" value="3000"/>
    <constructor-arg index="3" ref="retryPolicy"/>
  </bean>

</beans>