/* CSS Document */

.promote-Impact_container-turnback{
    position: absolute; 
    left: -50px;
    background: url(../img/turn-left.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-size: 24px 24px;
    background-position: 4px 4px;
    cursor: pointer;
    background-color: #fff;
    &:hover{
        background: url(../img/turn-left_hover.png);
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        background-size: 24px 24px;
        background-position: 4px 4px;
        border: 1px solid #2882d8;
        background-color: #2882d8;
    }
}
.promote-Impact_container-forward{
    position: absolute;
    right: -50px;
    background: url(../img/turn-right.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: 7px 7px;
    cursor: pointer;
    background-color: #fff;
    &:hover{
        background: url(../img/turn-right_hover.png);
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        background-size: 20px 20px;
        background-position: 7px 7px;
        border: 1px solid #2882d8;
        background-color: #2882d8;
    }
    
}
.promote-Impact_mainitem-footer{
        height: 48px; 
        display: flex; 
        align-items: center; 
        justify-content: flex-end; 
        width: 100%; 
        margin-top: 12px;
        border-top: 1px solid #ddd;
        .promote-Impact_mainitem-ignore{
            height: 28px; 
            min-width: 79px; 
            padding:0px 4px; 
            border-radius: 3px; 
            @include flexcenter; 
            background: #fff;
            border: 1px solid #fff;
            color: #2882d8; 
            font-size: 14px;
            margin-right: 8px; 
            cursor: pointer;
            &:hover{
                border: 1px solid #2882d8;
            }
        }
        .promote-Impact_mainitem-confirm{
            height: 28px; 
            min-width: 79px; 
            padding:0px 4px; 
            border-radius: 3px; 
            @include flexcenter; 
            background: #2882d8;
            border: 1px solid #2882d8; 
            color: #fff; 
            font-size: 14px; 
            cursor: pointer;
            &:hover{
                background: #288aed;
                border: 1px solid #288aed; 
            }
        }
    }
.promote-Impact_container-mainitem_author{
    color: #333; 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 24px;
    @include single-line-text;
    max-width: 600px;
}
.promote-Impact_container-mainitem_source{
    color: #666; 
    font-size: 14px; 
    line-height: 20px;
    @include single-line-text;
    max-width: 600px;
   /* margin-top: 12px;*/
}
.promote-Impact_container-mainitem_avator{
    width: 72px; 
    height: 90px; 
    border:1px solid #ddd; 
    flex-shrink: 0; 
    flex-grow: 0;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    .uploadpub_uploadFulltext{   
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
.promote-Impact_container-subtitle{
    line-height: 30px; 
    @include flexcenter; 
    margin-top: 12px;
    .promote-Impact_container-subnum{
        height: 28px; 
        width: 72px;  
        border: 1px solid #2882d8; 
        border-radius: 14px; 
        @include flexcenter;  
        margin-left: 4px; 
        background: #2882d8; 
        color: #fff;
	}
}
.promote-Impact_container{
    width: 800px; 
    min-height: 330px; 
    height: auto; 
    border:1px solid #ddd; 
    border-radius: 5px; 
    background: #fff; 
    padding: 20px; 
    @include flexstart;
    flex-direction: column;
    position: fixed;
    .promote-Impact_container-header{ 
        flex-direction: column; 
        @include flexcenter; 
        margin-bottom: 12px;
        .promote-Impact_container-title{
             font-size: 18px; 
             color:#333; 
             font-weight: bold; 
             line-height: 24px;
        }
    }
}
.promote-Impact_container-mainitem_header-check{
    color: #666;
    font-size: 14px;
    cursor: pointer;
    &:hover{
         color: #288aed;
    }
}
.promote-Impact_container_close{
    position: absolute;
    top: 20px;
    right: 12px;
}
.promote-Impact_container-mainitem_header-link{
    @include flexcenter; 
    color: #666;
    cursor: pointer;
}
.promote-Impact_container-body{
    @include flexcenter; 
    margin-bottom: 24px; 
    position: relative;
    .promote-Impact_container-item{
          width: 680px; 
          height: auto;
          border:1px solid #ddd;
          border-radius: 5px;
          padding: 0px 20px; 
          .promote-Impact_container-mainitem{
              height: auto; 
              width: 100%; 
              border-radius: 5px;
              display: none;
          }
      }
}
.promote-Impact_container-mainitem_header{
    @include flexbetween; 
    line-height: 40px; 
    height: 40px; 
    width: 100%; 
    border-bottom: 1px solid #ddd;
    .promote-Impact_container-mainitem_header-title{
        color:#333;
        font-size: 14px;
        font-weight: normal;
        margin-left: 8px;
        max-width: 360px;
        display: block;
        @include single-line-text;
    }
}
.promote-Impact_container-mainitem_content{
    margin-left: 12px;
    min-height:72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .promote-Impact_container-mainitem_title{
        color: #333; 
        font-weight: bold; 
        font-size: 14px; 
        line-height: 20px;
        max-width: 600px;
        .multipleline-ellipsis__content-box{
            max-width: 600px;
        }
    }
}
		
.promote-Impact_container-mainitem_group{
         display: block;
         @include single-line-text; 
         max-width: 600px;
        .promote-Impact_container-group_item{
            background-color: #ebf4ff;
            text-align: center;
            border-radius: 0px;
            @include single-line-text;
            height: 22px;
            padding: 0 6px;
            font-size: 14px;
            line-height: 21px;
            margin: 4px 4px 4px 0;
            display: inline-flex;
        }
    }
		
.promote-Impact_container-mainitem_member{
    @include flexstart;
    line-height: 20px;
    height: 20px;
    .promote-Impact_container-member_item{
        @include flexstart;
        margin-right: 12px;
        span{
            color:#666;
            font-size: 14px;
            padding: 0px 4px;
        }
    }
}		
.promote-Impact_container-mainitem_box{
    @include flexstart;
    margin: 20px 0px;
}
.promote-Impact_container-main_title{
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.promote-Impact_mainitem-add{
    margin-right: 12px;
}
.promote-Impact_Socialcontact-avator{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #ddd;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.promote-Impact_Socialcontact_box{
    position: relative;
    height: 64px;
    width: 88px;
    @include flexcenter; 
    border-radius: 50%;
}
.promote-Impact_Socialcontact_tip{
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 100%;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.promote-Impact_container-count{
    margin-right: 4px;   
}

.create-InstitutionalGroups_header-btn{
    @include flexcenter; 
    height: 28px; 
    min-width: 79px; 
    padding: 0px 8px; 
    background-color:#fff;
    color: #288aed; 
    border: 1px solid #288aed; 
    border-radius: 5px; 
    cursor: pointer;
    &:hover{
         background-color:#288aed;
         color: #fff; 
    }
    .create-InstitutionalGroups_header-icon{
        width: 18px; 
        height: 18px; 
        @include flexcenter; 
        font-size: 22px; 
        padding-bottom: 4px;
    }
    .create-InstitutionalGroups_header-detail{
        font-size: 14px; 
        line-height: 24px;
    }
}


.create-InstitutionalGroups_container{
    width: 1200px; 
    margin: 0 auto;
    .create-InstitutionalGroups_header{
        width: 100%; 
	    height: 48px; 
	    border-bottom: 1px solid #ddd;
	    display: flex; 
	    align-items: center; 
	    justify-content: space-between;
        margin-top: 20px;
        .create-InstitutionalGroups_header-box{
            width: auto; 
		    height: 100%; 
		    display: flex; 
		    align-items: center;
            .create-InstitutionalGroups_header-item{
                 width: auto; 
	             height: 100%; 
	             padding: 0px 8px; 
	             @include flexcenter; 
	             font-size: 14px;
	             cursor: pointer;
                 &:hover{
                     color:#288aed;   
                 }
            }
            .create-InstitutionalGroups_header-checked{
                border-bottom: 2px solid #2882d8;
		        font-size: 16px!important;
                color:#288aed;
            }
        }
        .create-InstitutionalGroups_header-btn{
            @include flexcenter; 
		    height: 28px; 
		    min-width: 79px; 
		    padding: 0px 8px; 
		    background-color:#fff;
		    color: #288aed; 
		    border: 1px solid #288aed; 
		    border-radius: 5px; 
		    cursor: pointer;
            &:hover{
                 background-color:#288aed;
		         color: #fff; 
            }
            .create-InstitutionalGroups_header-icon{
                width: 18px; 
                height: 18px; 
                @include flexcenter; 
                font-size: 22px; 
                padding-bottom: 4px;
            }
            .create-InstitutionalGroups_header-detail{
                font-size: 14px; 
		        line-height: 24px;
            }
        }
    }
    .create-InstitutionalGroups_body{
        display: flex;
		flex-wrap: wrap;
        min-height: 640px;
        align-content: baseline;
        padding: 20px 0px;
        align-content: start;
        justify-content: space-between;
        margin: 0 auto;
        width: 1055px;
        .create-InstitutionalGroups_body-item{
            border: 2px solid #ddd; 
		    border-radius: 5px; 
    		width: 420px; 
	    	padding: 20px 15px; 
	    	display: flex;
	    	margin: 16px;
	    	height: 130px;
            &:hover{
                border: 2px solid green;
            }
            .create-InstitutionalGroups_item-avator{
                width: 64px; 
                height: 64px; 
                border-radius: 32px; 
                flex-shrink: 0;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .create-InstitutionalGroups_item-body{
                margin-left: 12px; 
                display: flex;
                margin-top: 20px;
                .create-InstitutionalGroups_item-title{
                    line-height: 24px; 
                    @include single-line-text;
                    max-width: 250px;
                    min-width: 0px;
                    width: auto; 
                    font-size: 18px;
                    color:#2882d8;
                    cursor: pointer;
                    &:hover{
                        color:#288aed;
                    }
                }
                .create-InstitutionalGroups_item-count{
                    width: 250px; 
                    display: flex; 
                    align-items: center; 
                    justify-content: flex-start; 
                    align-items: center; 
                    margin-top: 20px;
                    .create-InstitutionalGroups_countbox{
                        margin: 0px 50px 0px 0px; 
                        display: flex; 
                        flex-direction: column;
                        align-items: center;
                        .create-InstitutionalGroups_countbox-title{
                            color: #666; 
                            font-size: 14px; 
                            line-height: 24px; 
                            height: 24px;
                        }
                        .create-InstitutionalGroups_countbox-num{
                            color: #666; 
                            font-size: 14px; 
                            line-height: 24px; 
                            height: 24px;
                        }
                    }
                }
                .create-InstitutionalGroups_item-cancle{
                    min-width: 79px; 
                    padding: 0px 4px; 
                    height: 28px; 
                    border: 1px solid #ddd; 
                    border-radius: 3px; 
                    @include flexcenter;  
                    color: #666; 
                    font-size: 14px; 
                    cursor: pointer;
                    margin-left: 8px;
                    &:hover{
                        border: 1px solid #288aed; 
                        background-color: #288aed;
                        color: #fff;
                    }
                }
                .create-InstitutionalGroups_item-Admin{
                    min-width: 79px; 
                    padding: 0px 4px; 
                    height: 28px; 
                    border: 1px solid #ddd; 
                    border-radius: 3px; 
                    @include flexcenter; 
                    color: #666; 
                    font-size: 14px; 
                    cursor: pointer;
                    margin-left: 8px;
                    &:hover{
                        border: 1px solid #288AED; 
	                	color:#288AED;
                    }
                }
                .create-InstitutionalGroups_item-Exten{
                    margin-top: 12px;
                    min-width: 79px; 
                    padding: 0px 4px; 
                    height: 28px; 
                    border: 1px solid #2882d8; 
                    border-radius: 3px; 
                    @include flexcenter; 
                    background: #2882d8; 
                    color: #fff; 
                    font-size: 14px; 
                    cursor: pointer;
                    margin-left: 8px;
                    &:hover{
                        border: 1px solid #288aed; 
    	                background: #288aed; 
                    }
                }
            }
        }
    }
}


.create-Homepage_Container{
    width: 1200px; 
	margin: 20px auto 0px auto; 
    .create-Homepage_Header{
        width: 100%; 
		height: 48px; 
		line-height: 48px; 
		color: #333; 
		font-size: 18px; 
		font-weight: bold;
		text-align: center;
    }
    .create-Homepage_Neck{
        width: 100%; 
		height: 36px; 
		line-height: 36px; 
		color: #333;
		font-size:14px; 
		font-weight: normal; 
		text-align: center; 
		margin: 0px 0px 10px 0px;
    }
    .create-Homepage_Option{
        width: 85%; 
		display: flex; 
		align-items: center; 
		justify-content: space-around; 
		height: 200px;
        margin: 0 auto;
        .create-Homepage_Option-item{
            border: 1px solid #ddd;
			border-radius: 5px; 
			width: 180px; 
			height: 180px; 
            @include flexcenter; 
			flex-direction: column; 
			cursor: pointer;
			background-color: #fff;
            &:hover{
                border: 1px solid green;
            }
            .create-Homepage_Option-item_title{
                color: #333; 
                font-size: 18px; 
                font-weight: bold; 
                width: 100%; 
                line-height: 24px; 
                text-align: center;  
                margin: 4px 0px 20px 0px;
            }
            .create-Homepage_Option-item_detail{
                color:#333; 
			    font-size: 14px; 
			    width: 100%; 
			    line-height: 24px; 
			    text-align: center;
            }
        }
        .create-Homepage_Option-item_checked{
            width: 185px; 
			height: 185px; 
			border: 2px solid green!important;
           /* box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.36);*/
        }
    }
    .create-Homepage_body{
        width: 100%;  
        margin-top: 20px;
        .create-Homepage_body-item{
            display: flex; 
			align-items: center; 
			justify-content: flex-start; 
			width: 960px;  
			margin-top: 24px;
            z-index: 0;
            .create-Homepage_body-item_title{
                width: 250px; 
                text-align: right; 
                font-size: 14px;
                .create-Homepage_body-item_tip{
                     color: red;
                }
                .create-Homepage_body-item_detail{
                    
                }
                
            }
            .create-Homepage_body-item_edit{
                width: 500px;  
			    height: auto; 
     			margin-left: 8px; 
	    		position: relative;
		    	outline: none;
                .create-Homepage_body-item_editbox{
                     min-width: 490px; 
			         max-width: 500px; 
			         min-height: 220px; 
			         max-height: 220px; 
			         border: 1px solid #ddd;
                     padding: 6px;
                }
                .create-Homepage_body-item_edittip{
                    margin-top: 20px; 
			        display: flex; 
			        align-items: flex-start; 
			        font-size: 14px; 
			        color: #999;
                    .create-Homepage_body-item_edittip-icon{
                        font-size: 20px;
                    }
                    .create-Homepage_body-item_edittext{
                        color: #999; 
			            font-size: 14px; 
			            margin-left: 4px;
                    }
                }
                .create-Homepage_body-item_edit-now{
                    width: 100%; 
                    height: 48px; 
                    border: 1px solid #2882d8; 
                    border-radius: 3px; 
                    background-color: #2882d8; 
                    color: #fff; 
                    font-size: 18px; 
                    @include flexcenter;  
                    margin-top: 30px;
                    cursor: pointer;
                    margin-bottom: 80px;
                    &:hover{
                         border: 1px solid #288aed;  
			             background-color: #288aed; 
                    }
                }
            }
            .create-Homepage_body-item_aditlarge{
                width: 500px; 
                border: 1px solid #ddd; 
                height: 30px; 
                margin-left: 8px; 
                border-radius: 2px; 
                position: relative;
                input{
                    width: 97%;
                    height: 93%;
                    padding-left: 8px;
                    border: none;
                    outline: none; 
                }
            }
            .create-Homepage_body-item_aditnormal{
                width: 350px; 
                border: 1px solid #ddd; 
                height: 30px; 
                margin-left: 8px; 
                border-radius: 3px; 
                position: relative;
                .form__sxn_row{
                    .input_not-null{
                        height: 32px;
                        display: flex;
                        align-items: center;
                    }
                }
                .handin_import-content_container-right_select{
                    border:none!important;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    i{
                        margin-left: 6px;
                    }
                    .handin_import-content_container-right_select-box{
                        width: 315px!important;
                        input{
                             padding-left: 8px;
                        }
                    }     
                }
                .handin_import-content_rightbox-border{
                    .handin_import-content_container-right_area-content{
                        input{
                            @include single-line-text;
                        }
                    }    
                }
                input{
                    width: 97%;
                    height: 93%;
                    padding-left: 8px;
                    border: none;
                    outline: none;
                    z-index: -1;
                }
                
                .create-Homepage_body-item_aditnormal-toplayer{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 20;
                }
            }
        }
    }
}
 .create-Homepage_body-item_aditnormal-toplayer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
}

.drawer-batch__layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.24);
    @include flexcenter;
    top: 0px;
    left: 0px;
    display: none;
    .drawer-batch__layer-container{
        width: 426px;
	    height: auto;
	    border: 1px solid #fff;
	    border-radius: 5px;
	    background: #fff;
	    padding: 12px 0px;
        .drawer-batch__layer-header{
            width: 100%;
		    text-align: center;
		    line-height: 30px;
		    font-size: 16px;
        }
        .drawer-batch__layer-body{
            width: 100%;
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            .drawer-batch__layer-body_item{
                min-width: 72px;
                height: 28px;
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 0px 4px;
                @include flexcenter;
                cursor: pointer;
                background: #fff;
                margin: 0px 20px;
                color: #333;
                font-size: 14px;
                &:hover{
                    border: 1px solid #288aed;
                    background: #288aed;
		            color: #fff;
                }
            }
            .drawer-batch__layer-body_item-selected{
                background: #288aed;
                color: #fff!important;
                border: 1px solid #288aed;
            }
        }
        .drawer-batch__layer-footer{
            width: 100%;
            height: 40px;
            @include flexend;
            .drawer-batch__layer-footer_cacle{
                min-width: 72px;
                height: 28px;
                border: 1px solid #fff;
                border-radius: 3px;
                padding: 0px 4px;
                @include flexcenter;
                cursor: pointer;
                background: #fff;
                margin: 0px 0px;
                font-size: 14px;
                &:hover{
                    color:#2882d8;
		            border: 1px solid #2882d8;
                }
            }
            .drawer-batch__layer-footer_sure{
                min-width: 72px;
                height: 28px;
                border: 1px solid #2882d8;
                border-radius: 3px;
                padding: 0px 4px;
                @include flexcenter;
                cursor: pointer;
                background: #fff;
                margin: 0px 20px 0px 12px;
                background: #2882d8;
                color: #fff;
                font-size: 14px;
                &:hover{
                    background: #288aed;
		            border: 1px solid #288aed;
                }
            }
        }
    }   
}
.New-changeStyle_container{
    min-width: 360px; 
    height: auto; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 0px 20px; 
    background: #fff;
    position: fixed;
    transition: all 300ms;
    z-index: 52;
    min-height: 480px;
}
.New-changeStyle_btn{
	width: 18px;
	height: 18px;
    background: url(../img/radio_bg_02.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0px 0px;
    margin: 0px 4px;
    cursor: pointer;
}
.New-changeStyle_btn:hover{
	background: url(../img/radio_bg_01.png);
}
.New-changeStyle_btnSelected{
	background: url(../img/radio_bg_01.png);
}
.New-changeStyle_content{
    width: 280px;
    display: block;
    @include single-line-text;
    font-size: 14px;
}
.New-changeStyle_container-header{
	display: flex; 
	align-items: center;
    justify-content: space-between; 
    height: 48px; 
    line-height: 48px; 
    width: 100%; 
    border-bottom: 1px solid #ddd;
}
.New-changeStyle_container-header span{
	color: #333;
	font-size: 16px;
    display: block;
    @include single-line-text;
    width: 475px;
}
.New-changeStyle_container-bodyItem{
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: flex-start; 
	height: 36px; 
	line-height: 36px;
	margin: 4px 0px;
}
.New-changeStyle_container-bodyItem:nth-child(odd){
    background: #f7f7f7;
}
.New-changeStyle_container-bodyItem:hover{
	background: #f7f7f7;
}
.New-changeStyle_container-footer{
	height: 48px; 
	border-top: 1px solid #ddd; 
	display: flex; 
	align-items: center; 
	justify-content: flex-end;
}
.New-changeStyle_container-Cancle{
	color:#333; 
	border: 1px solid #fff; 
	height: 28px; 
	width: 79px; 
	@include flexcenter; 
	border-radius: 3px; 
	margin-right: 12px;  
	cursor: pointer; 
	font-size: 14px; 
}
.New-changeStyle_container-Cancle:hover{
	color:#288aed; 
	border: 1px solid #288aed; 
}
.New-changeStyle_container-Next{
	color: #fff; 
	background: #2882d8; 
	border: 1px solid #2882d8; 
	height: 28px; 
	width: 79px; 
	@include flexcenter; 
	border-radius: 3px; 
	cursor: pointer; 
	font-size: 14px; 
}
.New-changeStyle_container-Next:hover{
	background: #288aed; 
	border: 1px solid #288aed; 
}
.New-ChangeNormal_Container{
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    width: 580px;
    height: auto;
    padding: 0px 20px;
    background: #fff;
    position: fixed;
    z-index: 50;
}
.New-ChangeNormal_Header{
    height: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid  #ddd;
}
.New-ChangeNormal_Header span{
    color: #333;
    font-size: 18px;
    font-weight: normal;
}
.New-ChangeNormal_Body{
    width: 100%;
    height:auto;
}
.New-ChangeNormal_Footer{
    height: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top:1px solid #ddd;
}
.New-ChangeNormal_Footer-Close{
    color: #333; 
	border: 1px solid #fff; 
	height: 28px; 
	width: 79px; 
	@include flexcenter; 
	border-radius: 3px; 
	cursor: pointer; 
	font-size: 14px; 
	margin-right: 12px;
}
.New-ChangeNormal_Footer-Close:hover{
	color: #288aed;
	border: 1px solid #288aed;  
}
.New-ChangeNormal_Footer-Next{
    color: #fff; 
	background: #2882d8; 
	border: 1px solid #2882d8; 
	height: 28px; 
	width: 79px; 
	display: flex;  
	align-items: center; 
	justify-content: center; 
	border-radius: 3px; 
	cursor: pointer; 
	font-size: 14px; 
}
.New-ChangeNormal_Footer-Next:hover{
	background: #288aed; 
	border: 1px solid #288aed;
}
.New-ChangeNormal_Bodyitem{
	min-height: 34px; 
	height: auto; 
	margin: 20px 0px;
}
.New-ChangeNormal_Bodyitem-Box{
	height: 30px; 
	line-height: 30px; 
	width: 100%; 
	display: flex; 
	align-items: center;
	justify-content: space-between; 
	border-bottom: 1px solid #ddd; 
	position: relative;
}
.New-ChangeNormal_Bodyitem-Box:hover{
	border-bottom: 2px solid #333;
}

.New-ChangeNormal_Bodyitem-Title{
	width: auto; 
	height: 28px; 
	text-align: left; 
	color: #666; 
	font-size: 14px; 
	position: absolute;
	left: 8px;
	top: 0px;
	transition: all 300ms;
}
.New-ChangeNormal_Bodyitem-TitleInput{
	left: 0px!important;
	top: -20px!important;
	font-size: 12px!important;
}
.New-ChangeNormal_Bodyitem-TitleColor{
	color: #288aed!important; 

}
.New-ChangeNormal_Bodyitem-Input{
	width: 100%; 
	height: 24px; 
	outline: none; 
	border: none;
    padding-left: 8px;
    border-bottom: 1px solid #fff;
    display: block;
    @include single-line-text;
    cursor: pointer;
}
.New-ChangeNormal_Bodyitem-mainTitle{
	width: 100%; 
	height: 32px; 
	line-height: 32px; 
	color: #666;
	font-size: 14px; 
	text-align: left;
}
.New-ChangeNormal_Bodyitem-InputBox{
	width: 100%; 
	min-height: 24px; 
	line-height: 24px; 
	outline: none; 
	border: none; 
	resize: none; 
	border-bottom: 1px solid #ddd;
}
.New-ChangeNormal_Bodyitem-Upload{
	width: 100%; 
	height: 128px; 
	border: 1px dashed #ddd; 
	border-radius: 3px; 
	cursor: pointer; 
	@include flexcenter;
    .New-ChangeNormal_Bodyitem-UploadInput{
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 48;
    }
    &:hover .New-ChangeNormal_Bodyitem-UploadIcon{
        background:url(../img/smate_cssspirit01.png);
        width: 64px;
        height: 52px;
        background-repeat: no-repeat;
        background-position: -82px -229px;
    }
}
.New-ChangeNormal_Bodyitem-Upload:hover{
	border: 1px dashed #288aed;
}
.New-ChangeNormal_Bodyitem-UploadIcon{
	background:url(../img/smate_cssspirit01.png);
    width: 64px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: -8px -229px;
    z-index: 45;
    &:hover{
	     background-position: -82px -229px;
    }
}

.New-ChangeNormal_Bodyitem-Upload_Detail{
	min-height: 0px;
	height: auto;
	padding: 5px 0px; 
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
}
.New-ChangeNormal_Bodyitem-Upload_Detailitem{
	width: 50%; 
	@include flexcenter;
	margin: 4px 0px;
}
.New-ChangeNormal_Bodyitem-Upload_Detailtext{
	@include single-line-text;
	width: 90%; 
	font-size: 14px; 
	color: #333; 
	cursor: pointer;
}
.New-ChangeNormal_Bodyitem-Upload_Detailtext:hover{
	color:#288aed;
}
.New-ChangeNormal_Bodyitem-Upload_Detailclose{
	font-size: 18px; 
	color: #666; 
	cursor: pointer;
}
.New-ChangeNormal_Bodyitem-Upload_Detailclose:hover{
	color: red;
}
.New-ChangeNormal_Footer-Save{
	width: 100%;
	height: 48px;
	border-radius: 3px;
	background: #2882d8;
	border: 1px solid #2882d8;
	@include flexcenter;
	color: #fff;
	font-size: 18px;
    cursor: pointer;
}
.New-ChangeNormal_Footer-Save:hover{
	background: #288aed;
	border: 1px solid #288aed;
}
.New-ChangeNormal_FooterItem{
	width: 100%;
	height: 108px;
	@include flexcenter;
}

.New-ChangeNormal_Bodyitem-onKey{
	cursor: pointer;
}
.New-ChangeNormal_Bodyitem-Select{
	position: absolute; 
	background: #fff; 
	width: 100%;
	min-height: 32px; 
	top: 32px; 
	left: 0px; 
	border: 1px solid #ddd;
	display: none;
    z-index: 51;
    .New-ChangeNormal_Bodyitem-SelectItem{
        width: 100%;
        line-height: 24px;
        height: 24px;
        cursor: pointer;
        &:hover{
            background: #f7f7f7;
        }
        span{
            display: block;
            @include single-line-text;
            width: 95%;
            line-height: 24px;
            padding-left: 8px;
        }
    }
}
.New-ChangeNormal_Bodyitem-Bottom{
	border-bottom: 2px solid #288aed!important;
}
.New-ChangeNormal_Bodyitem-changTime{
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	height: 38px; 
	line-height: 38px;
}
.New-ChangeNormal_Bodyitem-changTime_item{
	width: 48%;
}
.New-changeStyle_contentCount{
    width: 18px;
    height: 18px;
    font-size: 14px;
    @include flexcenter;
    @include single-line-text;
}
.selected-func_delete {
    width: 18px;
    height: 18px;
    background: url(../img/delete_icon1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
.selected-func_delete:hover{
    background: url(../img/delete_icon3.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
}
.New-changeStyle_container-bodyItem_edit{
    width: 18px;
    height: 18px;
    background: url(../img/edit2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
.New-changeStyle_container-bodyItem_edit:hover{
	background: url(../img/edit3.png);
    background-repeat: no-repeat;
}
.New-changeStyle_container-bodyItem_Time{
	height: 36px; 
	line-height: 36px; 
	color: #666; 
	font-size: 14px; 
	@include flexcenter;
	width: 120px;
}
.New-changeStyle_container-bodyItem_Amount{
    height: 36px; 
	line-height: 36px; 
	color: #666; 
	font-size: 14px; 
	@include flexcenter;
    width: 110px;
}
.New-changeStyle_container-bodyItem_func{
	display: flex; 
	align-items: center; 
	justify-content:space-around; 
	width: 48px;
}
.New-ChangeNormal_Bodyitem-chargeHeader{
	width: 100%; 
	height: 30px; 
	background: #f7f7f7; 
	display: flex; 
	align-items: center;  
	color: #666; 
	font-size: 14px;
}
.New-ChangeNormal_Bodyitem-chargeName{
	width: 15%; 
	text-align: center;
	line-height: 32px;
	height: 32px;
	@include single-line-text;
	position: relative;
}
.New-ChangeNormal_Bodyitem-chargeName input{
    border: 1px solid #ddd;
    width: 95%;
    height: 26px;
}
.New-ChangeNormal_Bodyitem-chargeWork{
	width: 25%;
	text-align: center;
    line-height: 32px;
	height: 32px;
	@include single-line-text;
	position: relative;
}
.New-ChangeNormal_Bodyitem-chargeWork input{
    border: 1px solid #ddd;
    width: 95%;
    height: 26px;
}
.New-ChangeNormal_Bodyitem-chargeEmail{
	width: 22%; 
	text-align: center;
	line-height: 32px;
	height: 32px;
	@include single-line-text;
	position: relative;
}
.New-ChangeNormal_Bodyitem-chargeEmail input{
    border: 1px solid #ddd;
    width: 95%;
    height: 26px;
}
.New-ChangeNormal_Bodyitem-chargePhone{
	width: 20%;
	line-height: 32px;
	height: 32px; 
	text-align: center; 
	@include single-line-text;
	position: relative;
}
.New-ChangeNormal_Bodyitem-chargePhone input{
    border: 1px solid #ddd;
    width: 95%;
    height: 26px;
}
.New-ChangeNormal_Bodyitem-chargeTitle{
	width: 18%;
	line-height: 32px;
	height: 32px;
	text-align: center;
	@include single-line-text;
	position: relative;
}
.New-ChangeNormal_Bodyitem-chargeTitle input{
    border: 1px solid #ddd;
    width: 95%;
    height: 26px;
}
.New-ChangeNormal_Bodyitem-chargeBody{
	width: 100%;
	background-color: #fff;
}
.New-ChangeNormal_Bodyitem-chargeItem{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}
.New-ChangeNormal_Bodyitem-chargeDelete{
	width: 5%;
	height: 30px;
	@include flexcenter;
    color: #666;
    font-size: 14px;
}
.New-ChangeNormal_Bodyitem-chargeAdd{
    width: 79px;
    height: 28px;
    border: 1px solid #2882d8;
    background: #2882d8;
    color: #fff;
    border-radius: 3px;
    @include flexcenter;
    cursor: pointer;
}
.New-ChangeNormal_Bodyitem-chargeAdd:hover{
	border: 1px solid #288aed;
    background: #288aed;
}
.New-proManage_containerBody{
	width: 100%;
    min-height: 510px;
}
.New-proManage_containerBody-header{
	width: 100%; 
	display: flex; 
	align-items: center;  
	justify-content: flex-start;
	border-bottom: 1px solid #ddd; 
	height: 36px;
}
.New-proManage_containerBody-headerItem{
	min-width: 78px; 
	padding: 0px 4px; 
	color: #333; 
	font-size: 16px; 
	margin: 0px 4px; 
	height: 36px; 
	line-height: 36px; 
	cursor: pointer;
	@include flexcenter;
}
.New-proManage_containerBody-headerItem:hover{
	font-size: 18px;
}
.New-proManage_containerBody-headerChecked{
	border-bottom: 2px solid #288aed;
}
.New-proManage_containerHeader{
	margin-bottom: 24px;
}
.New-proManage_containerHeader-Count{
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: flex-start; 
	height: 72px;
}
	.New-proManage_containerHeader-CountItem{
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px; 
    margin-right: 32px;
}
.New-proManage_containerHeader-ItemNum{
    font-size: 24px;
    font-weight: 500; 
    margin-right: 2px;
}
.New-proManage_RecordBody-Header{
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	height: 36px; 
	background: #f7f7f7;
}
.New-proManage_RecordBody-HeaderTitle{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
    line-height: 30px;
    text-align: center;
	width: 20%;
}
.New-proManage_RecordBody-HeaderTitle  span{
	padding-left: 12px;
	width: 100%;
	display: block;
	@include single-line-text;
}
.New-proManage_RecordBody-HeaderSupport{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter;
	width: 15%;
}
.New-proManage_RecordBody-HeaderAlready{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
}
.New-proManage_RecordBody-HeaderUsed{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
}
.New-proManage_RecordBody-HeaderAdvance{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
}
.New-proManage_RecordBody-HeaderAvailable{
	font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter; 
	width: 20%;
}
.New-proManage_RecordBody-Item{
	width: 100%; 
	height: 30px; 
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	margin: 6px 0px;
	padding: 6px 0px;
}
.New-proManage_RecordBody-Item:nth-child(odd){
	background: #f7f7f7;
}
.New-proManage_RecordBody-ItemTitle{
    font-size: 14px; 
	color:#333; 
	height: 30px; 
    line-height: 30px;
    text-align: center;
	width: 20%;
}
.New-proManage_RecordBody-ItemTitle span{
	padding-left: 12px;
	width: 100%;
	display: block;
	@include single-line-text;
}
.New-proManage_RecordBody-ItemSupport{
    font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
}
.New-proManage_RecordBody-ItemAlready{
    font-size: 14px; 
	color:#2882d8; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
	cursor: pointer;
}
.New-proManage_RecordBody-ItemAlready:hover{
	color: #288aed;
}
.New-proManage_RecordBody-ItemUsed{
    font-size: 14px; 
	color:#2882d8; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
	cursor: pointer;
}
.New-proManage_RecordBody-ItemUsed:hover{
	color:#288aed;
}
.New-proManage_RecordBody-ItemAdvance{
    font-size: 14px; 
	color:#2882d8; 
	height: 30px; 
	@include flexcenter; 
	width: 15%;
	cursor: pointer;
}
.New-proManage_RecordBody-ItemAdvance:hover{
	color:#288aed;
}
.New-proManage_RecordBody-ItemAvailable{
    font-size: 14px; 
	color:#333; 
	height: 30px; 
	@include flexcenter;
	width: 20%;
}
.New-proManage_RecordBody-footer{
	background: #f7f7f7;
	width: 100%; 
	height: 30px; 
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	margin: 6px 0px;
	padding: 6px 0px;
}
.New-proManage_containerBody-Item{
	width: 100%;
}
.New-proManage_BodyItem{
	width: 100%; 
	height: auto;
}
.New-proManage_RecordHeader{
	height: 56px; 
	width: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: flex-end;
}
.New-proManage_RecordHeader-write{
	min-width: 79px; 
	padding: 0px 6px; 
	height: 28px; 
	border: 1px solid #2882d8; 
	color:#fff; 
	@include flexcenter; 
	font-size: 14px; 
	cursor: pointer; 
	border-radius: 3px; 
	background: #2882d8;
	position: relative;
	max-width: 150px;
}
.New-proManage_RecordHeader-write i{
	width: 22px;
	height: 24px;
}
.New-proManage_RecordHeader-write:hover{
	border: 1px solid #288aed;
	background: #288aed;
}
.New-proManage_RecordHeader-exportBudget{
	width: 79px; 
	height: 28px; 
	border: 1px solid #ddd; 
	color:#333; 
	@include flexcenter;
	font-size: 14px; 
	cursor: pointer; 
	margin: 0px 12px; 
	border-radius: 3px;
}
.New-proManage_RecordHeader-exportBudget:hover{
	border: 1px solid #288aed; 
	color:#288aed;
}
.New-proManage_RecordHeader-export{
	width: 79px; 
	height: 28px; 
	border: 1px solid #ddd; 
	color:#333; 
	@include flexcenter; 
	font-size: 14px; 
	cursor: pointer; 
	border-radius: 3px;
}
.New-proManage_RecordHeader-export:hover{
	border: 1px solid #288aed; 
	color:#288aed;
}
.New-proManage_container-Content{
	width: 100%;
}
.New-proManage_container-ContentTitle{
	font-size: 24px; 
	line-height: 32px; 
	color: rgba(0, 0, 0, 0.87); 
	font-weight: 450; 
	word-break: break-word;
}
.New-proManage_container-ContentAuthor{
	width: 100%; 
	line-height: 24px; 
	word-break: break-word;
	color: #333; 
	font-size: 14px; 
	margin-top: 20px;
}
.New-proManage_container-ContentIntroduce{
	width: 100%; 
	line-height: 24px; 
	word-break: break-word; 
	color: #333; 
	font-size: 14px; 
	margin-top: 20px;
}
.New-proManage_BasicInfor{
	width: 100%; 
	display: flex; 
	align-items: flex-start; 
	justify-content: space-between; 
	margin: 6px 0px;
	padding: 6px 0px; 
}
.New-proManage_BasicInfor:nth-child(odd){
	background: #f7f7f7;
}
.New-proManage_BasicInfor-Title{
	height: 30px; 
	line-height: 30px; 
	width: 10%; 
	text-align: right;
	font-size: 14px;
}
.New-proManage_BasicInfor-Content{
	width: 90%; 
	min-height: 30px; 
	line-height: 30px; 
	margin-left: 12px;
	font-size: 14px;
}
.New-SimilarFile_BodyCenter{
	display: flex; 
	align-items: flex-start;
	.New-SimilarFile_BodyCenter-Avator{
        width: 72px; 
        height: 92px; 
        border: 1px solid #ddd; 
        flex-shrink: 0; 
        @include flexcenter; 
    }
    .New-SimilarFile_BodyCenter-Infor{
        margin-left: 12px; 
        width: 420px;
        .New-SimilarFile_BodyCenter-InforTitle{
            font-size: 16px; 
            color: #333; 
            font-weight: bold; 
            line-height: 20px;
            min-width: 0px; 
            width: auto;
        }
        .New-SimilarFile_BodyCenter-InforUploader{
            font-size: 14px; 
            line-height: 20px; 
            cursor: pointer; 
            min-width: 0px; 
            width: auto; 
            color: #2882d8;
            font-weight: bold;
        } 
        .New-SimilarFile_BodyCenter-InforWork{
            font-size: 14px; 
            color: #333; 
            font-weight:normal; 
            line-height: 20px; 
            word-break: break-all;
        }
        .New-SimilarFile_BodyCenter-InforTime{
            font-size: 14px; 
            color: #666; 
            font-weight:normal; 
            line-height: 20px;
        }
    }
}

.New-SimilarFile_container{
    width: 620px; 
    height: auto; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
    padding: 0px 20px; 
    background: #fff;
    position: fixed;
    transition: all 300ms ease; 
    z-index: 52;
    background: #fff;
}

.New-SimilarFile_Body{
    width: 100%; 
	 @include flexbetween;
	padding: 20px 0px;
	.New-SimilarFile_BodyLeft{
	    width: 36px; 
		height: 36px; 
		@include flexcenter;
		border-radius: 18px;
		border:1px solid #ddd;
		flex-shrink: 0;
		cursor: pointer;
        i{
            font-size: 32px;
            color: #ddd;
        }
        &:hover{
            border:1px solid #288aed;
			background: #288aed;
            i{
                color: #fff;
            }
        }
    }
    .New-SimilarFile_BodyRight{
	    width: 36px; 
        height: 36px; 
        @include flexcenter;
        border-radius: 18px;
        border:1px solid #ddd;
		flex-shrink: 0;
		cursor: pointer;
        i{
            font-size: 32px;
            color: #ddd;
        }
        &:hover{
            border:1px solid #288aed;
			background: #288aed;
            i{
                color: #fff;
            }
        }
    }
}

.New-SimilarFile_Header{
    height: 48px; 
	line-height: 48px; 
	border-bottom: 1px solid #ddd; 
    @include flexbetween;
    .New-SimilarFile_HeaderTitle{
        color: #333; 
        font-size: 16px;
    }
    .New-SimilarFile_HeaderSort{
        display: flex; 
        align-items: center; 
        margin-left: 20px; 
        cursor: pointer; 
        position: relative; 
        width: auto;
        &:hover .New-SimilarFile_SortBox{
            display: block;
		}
        .New-SimilarFile_SortIcon{
            background: url(../img/sortIcon1.png);
			background-repeat: no-repeat;
			background-position: 0px 0px;
			width: 20px ;
			height: 20px;
			background-size: 20px 20px;
        }
        .New-SimilarFile_SortDetail{ 
            color: #666; 
			font-size: 14px;
			min-width: 79px;
			padding: 0px 4px;
        }
        .New-SimilarFile_SortBox{
            position: absolute; 
			top: 38px;
			width: 100%; 
			border: 1px solid #ddd; 
			background-color: #fff;
			display: none;
            left:0px;
            .New-SimilarFile_SortItem{
                color: #666; 
			    font-size: 14px;  
			    line-height: 24px; 
			    height: 24px;
     			padding: 2px 0px;
                &:hover{
                    background: #ccc;
                }
                span{
                    width: 100%;
			        padding-left: 8px;
			        color: rgba(0, 0, 0, 0.54);
                }
            }
            .New-SimilarFile_SortItemChecked{
                 background: #f7f7f7!important;
            }
        }
    }
}


.New-SimilarFile_Footer{
    height: 48px; 
    width: 100%; 
    @include flexend;
    border-top: 1px solid #ddd;
    .New-SimilarFile_FooterClose{
        width: 79px; 
        height: 28px; 
        @include flexcenter; 
        border: 1px solid #fff; 
        border-radius: 3px; 
        background:#fff; 
        color: #333; 
        font-size: 14px; 
        cursor: pointer; 
        margin-right: 20px; 
        &:hover{
            border: 1px solid #2882d8;
			color: #2882d8; 
        }
    }
    .New-SimilarFile_FooterDownload{
        width: 79px; 
        height: 28px; 
        @include flexcenter;
        border: 1px solid #2882d8; 
        border-radius: 3px; 
        background:#2882d8; 
        color: #fff; 
        font-size: 14px; 
        cursor: pointer; 
        &:hover{
            border: 1px solid #288aed;  
			background:#288aed; 
        }
    }
}
