<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:export="https://www.scholarmate.com/schema/remote-export"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	https://www.scholarmate.com/schema/remote-export
	https://www.scholarmate.com/schema/remote-export.xsd "
  default-lazy-init="false">
  <description>缓存、restful等服务</description>
  <!-- memcache缓存服务 客户端 -->
  <bean id="memcacheClient" class="com.smate.core.base.utils.cache.IrisMemcachedClientFactoryBean">
    <property name="memcachedSrvUrls" value="${memcache.common.url}" />
  </bean>
  <!-- 同步restful -->
  <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
  <bean id="authorityManager" class="com.smate.core.base.utils.service.security.AuthorityManagerImpl">
  </bean>
  <bean id="insRoleService" class="com.smate.core.base.utils.service.security.InsRoleServiceImpl">
  </bean>
  
  <!-- 项目检索导入xml处理 -->
    <bean id="projectSearchImportService" class="com.smate.web.prj.service.project.search.ProjectSearchImportServiceImpl" lazy-init="false" >
        <property name="xmlDealList">
            <list>
                <bean class="com.smate.web.prj.service.project.search.ImportPrjMetaXmlServiceImpl" />
                <bean class="com.smate.web.prj.service.project.search.ImportPrjFieldMappingServiceImpl" />
                <bean class="com.smate.web.prj.service.project.search.ImportPrjDateServiceImpl" />
            </list>
        </property>
    </bean>
  <!-- 项目导入导入xml处理 -->
  <bean id="prjFileImportService" class="com.smate.web.prj.service.project.fileimport.PrjFileImportServiceImpl" lazy-init="false" >
    <property name="xmlDealServiceList">
      <list>
        <bean class="com.smate.web.prj.service.project.search.ImportPrjMetaXmlServiceImpl" />
        <bean class="com.smate.web.prj.service.project.search.ImportPrjFieldMappingServiceImpl" />
        <bean class="com.smate.web.prj.service.project.search.ImportPrjDateServiceImpl" />
      </list>
    </property>
  </bean>
  <!-- BatchJobs创建器 -->
  <bean id="batchJobsContextFactory" class="com.smate.center.batch.connector.factory.BatchJobsContextFactory" />
  <bean id="batchJobsNormalFactory" class="com.smate.center.batch.connector.factory.BatchJobsNormalFactory" />
</beans>
