* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  color: rgba(0, 0, 0, 0.87);
}

input, textarea {
  border: none;
  resize: none;
}

ul {
  list-style: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  user-select: none;
}

.background-cover {
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 48;
}

.form-row {
  margin-top: 40px;
  min-height: 48px;
  padding: 16px 0 0 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-row .input-container {
  color: rgba(0, 0, 0, 0.38);
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  flex-shrink: 1;
}

.form-row .input-container.hasContent {
  color: rgba(0, 0, 0, 0.54);
}

.form-row .input-container.hasContent .input-title {
  transform: translateY(-24px) scale(0.82);
}

.form-row .input-container.isFocused {
  color: cornflowerblue;
}

.form-row .input-container.isFocused .input-title {
  transform: translateY(-24px) scale(0.82);
}

.form-row .input-container.invalid-data {
  color: crimson;
}

.form-row .input-container.invalid-data .input-helper-text:before {
  content: attr(invalid-message);
}

.form-row .input-container.readonly .input-title {
  color: rgba(0, 0, 0, 0.54);
  transform: translateY(-24px) scale(0.82);
}

.form-row .input-container.readonly .input-section-cluster .input-underline_primary, .form-row .input-container.readonly .input-section-cluster .input-underline_focused
  {
  opacity: 0;
}

.form-row .input-container.readonly .input-helper-text {
  opacity: 0;
  height: 0;
}

.form-row .input-container .input-title {
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0;
  transform-origin: bottom left;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, transform;
}

.form-row .input-container .input-section-cluster {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-section {
  position: relative;
}

.input-section.isFocused .input-underline_focused {
  background-color: cornflowerblue;
  transform: scaleX(1);
}

.input-section.invalid-data .input-underline_primary {
  background-color: crimson;
  height: 2px;
  z-index: 2;
}

.input-section .input-area {
  display: flex;
  flex-wrap: nowrap;
}

.input-section .input-area input {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  font-size: inherit;
  width: 100%;
  height: 24px;
  flex-shrink: 1;
}

.input-section .input-area .password-visibility {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.54);
}

.input-section .input-area input[type=password] ~ .password-visibility:before {
  content: "visibility_off";
}

.input-section .input-area input[type=text] ~ .password-visibility:before {
  content: "visibility";
}

.input-section .input-underline_primary {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.input-section .input-underline_focused {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: cornflowerblue;
  transform: scaleX(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-row .input-container .input-helper-text {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  margin-top: 4px;
}

.form-row .input-container .input-helper-text:before {
  content: attr(helper-text);
  text-align: left;
}

.dialogs-container {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.87);
  max-height: calc(100% - 8px);
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.dialogs-container .dialogs-header {
  width: 100%;
  min-height: 56px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.dialogs-container .dialogs-header .dialogs-title {
  font-size: 18px;
  padding: 0 16px;
  flex-grow: 1;
  display: flex;
}

.dialogs-container .dialogs-content-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.dialogs-container .dialogs-content-container.padding-24 {
  padding: 24px;
}

.dialogs-container .dialogs-content-container .dialogs-content-list {
  min-height: 480px;
  display: flex;
  flex-direction: column;
}

.dialogs-container .dialogs-content-container .dialogs-content-list .dialogs-content-list_list-item {
  cursor: pointer;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dialogs-container .dialogs-content-container .dialogs-content-list .dialogs-content-list_list-item.isHovered {
  background-color: rgba(0, 0, 0, 0.12);
}

.dialogs-container .dialogs-content-container .dialogs-content-list .dialogs-content-list_list-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
  line-height: 48px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}

.dialogs-container .dialogs-content-container .dialogs-content-list .dialogs-content-list_list-text.isHovered {
  background-color: rgba(0, 0, 0, 0.12);
}

.dialogs-container .dialogs-flex-footer-container {
  min-height: 56px;
  padding: 0 16px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.dialogs-container .dialogs-flex-footer-container .dialogs-invite-person {
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

.dialogs-container .dialogs-flex-footer-container .dialogs-invite-person .dialogs-invite-person_chips-container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 160px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 4px;
  margin-bottom: 8px;
}

.dialogs-container .dialogs-flex-footer-container .dialogs-invite-person .dialogs-invite-person_chips-container .dialogs-invite-person_manual-input
  {
  height: 40px;
  min-width: 128px;
  max-width: 100%;
  width: auto;
  background-color: transparent;
  font-size: 16px;
  line-height: 40px;
  position: relative;
  border: none;
  outline: none;
  word-break: keep-all;
  word-wrap: break-word;
}

.dialogs-container .dialogs-footer {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 8px;
  height: 56px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.dialogs-container .dialogs-footer.no-border {
  border: none;
}

.dialogs-container .share-plugin_share-to-friends-container {
  margin: 8px 0;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.dialogs-container .reset-password_title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 32px;
  min-width: 64px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  padding: 0 8px;
  margin: 0 8px;
  background: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.button[disabled] {
  color: rgba(0, 0, 0, 0.26);
}

.button-flat_primary {
  background-color: #1a85d1;
  color: white;
}

.button-flat_primary:hover {
  background-color: #125c91;
  color: white;
}

.button-flat_primary[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

.button-flat_transparent-primary {
  color: #5cafeb;
}

.button-flat_transparent-primary[disabled] {
  color: rgba(0, 0, 0, 0.26);
}

.button-icon {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  user-select: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-text_general-caption {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
}

.width-1 {
  width: 8.33333%;
}

.width-2 {
  width: 16.66667%;
}

.width-3 {
  width: 25%;
}

.width-4 {
  width: 33.33333%;
}

.width-5 {
  width: 41.66667%;
}

.width-6 {
  width: 50%;
}

.width-7 {
  width: 58.33333%;
}

.width-8 {
  width: 66.66667%;
}

.width-9 {
  width: 75%;
}

.width-10 {
  width: 83.33333%;
}

.width-11 {
  width: 91.66667%;
}

.width-12 {
  width: 100%;
}

.depth1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.depth2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.depth3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.depth4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.depth5 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.depth6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.depth7 {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.depth8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.depth9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.depth10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.depth11 {
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2), 0 11px 15px 1px rgba(0, 0, 0, 0.14), 0 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.depth12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.depth13 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.depth14 {
  box-shadow: 0 7px 9px -4px rgba(0, 0, 0, 0.2), 0 14px 21px 2px rgba(0, 0, 0, 0.14), 0 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.depth15 {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.depth16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.depth17 {
  box-shadow: 0 8px 11px -5px rgba(0, 0, 0, 0.2), 0 17px 26px 2px rgba(0, 0, 0, 0.14), 0 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.depth18 {
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.depth19 {
  box-shadow: 0 9px 12px -6px rgba(0, 0, 0, 0.2), 0 19px 29px 2px rgba(0, 0, 0, 0.14), 0 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.depth20 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.depth21 {
  box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14), 0 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.depth22 {
  box-shadow: 0 10px 14px -6px rgba(0, 0, 0, 0.2), 0 22px 35px 3px rgba(0, 0, 0, 0.14), 0 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.depth23 {
  box-shadow: 0 11px 14px -7px rgba(0, 0, 0, 0.2), 0 23px 36px 3px rgba(0, 0, 0, 0.14), 0 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.depth24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}