.cut_pic-box {
  display: flex;
  align-items: center;
}

.cut_pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cut_pic-select {
  position: relative;
  margin: 8px 0 8px 0;
  width: 148px;
  height: 36px;
  line-height: 36px;
}

.cut_pic-select .cut_pic-select-btn {
  position: absolute;
  width: 135px;
  height: 32px;
  cursor: pointer;
  top: 2px;
  left: 4px;
  opacity: 0;
}

.cut_pic-select .cut_pic-select_load {
  width: 148px;
  height: 24px;
  cursor: pointer;
  line-height: 24px;
  margin: 0 0 2px 0;
  text-align: center;
  border-bottom: 2px solid #c7c7c7;
}

.dragmove {
  box-sizing: border-box;
  display: flex;
  width: 302px;
  height: 302px;
  border: 1px solid #c7c7c7;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 36px;
}

.dragmove .cutpic-box {
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px dashed #c7c7c7;
  position: absolute;
  flex-direction: column;
  opacity: 0.5;
  background-color: #fff;
  top: 20px;
  left: 30px;
}

.dragmove .cutpic-box .cutpic-box_top {
  display: flex;
  flex: 0 0 20px;
}

.dragmove .cutpic-box .cutpic-box_top .cutpic-box_top-left {
  cursor: se-resize;
  flex: 0 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box_top .cutpic-box_top-center {
  cursor: s-resize;
  flex: 1 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box_top .cutpic-box_top-right {
  cursor: ne-resize;
  flex: 0 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box_center {
  display: flex;
  flex: 1 0 20px;
}

.dragmove .cutpic-box .cutpic-box_center .cutpic-box_center-left {
  cursor: w-resize;
  flex: 0 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box_center .cutpic-box_center-center {
  cursor: move;
  flex: 1 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box_center .cutpic-box_center-right {
  cursor: w-resize;
  flex: 0 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box-bottom {
  display: flex;
  flex: 0 0 20px;
}

.dragmove .cutpic-box .cutpic-box-bottom .cutpic-box_bottom-left {
  cursor: ne-resize;
  flex: 0 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box-bottom .cutpic-box_bottom-center {
  cursor: n-resize;
  flex: 1 0 20px;
  text-align: center;
}

.dragmove .cutpic-box .cutpic-box-bottom .cutpic-box_bottom-right {
  cursor: se-resize;
  flex: 0 0 20px;
  text-align: center;
}

.preview_box {
  border: 1px solid #c7c7c7;
  width: 200px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.preview_box .preview_box-title {
  text-align: center;
}

.preview_box .preview_box-showpic {
  border: 1px solid #c7c7c7;
  width: 100px;
  height: 100px;
  margin: 16px 0;
}

.select-btn {
  display: flex;
  margin: 8px 0px;
  justify-content: space-around;
}

.select-btn .select-btn_upload {
  cursor: pointer;
}

.select-btn .select-btn_giveup {
  cursor: pointer;
}