/.metadata/
/publication/
/RemoteSystemsTempFiles/
/.recommenders/
*/bin/
*.classpath
*.project
*.iml
.settings
.project
.target
.classpath
.log
.war
.base
.idea
.editorconfig
*/.gitignore
Thumbs.db
target