<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
  default-lazy-init="true">
  <description>缓存服务</description>
  <!-- menu memcache缓存服务 -->
  <bean id="userDataCacheService" class="com.smate.core.web.sns.cache.UserDataCacheServiceImpl">
    <property name="memcacheClient" ref="memcacheClient"></property>
  </bean>
  <!--end memcache缓存服务 -->
</beans>