<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mongo="http://www.springframework.org/schema/data/mongo"
  xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
  <!-- 获取mongo实例 -->
  <mongo:mongo host="${mongo.host}" port="${mongo.port}">
    <mongo:options connections-per-host="8" threads-allowed-to-block-for-connection-multiplier="4"
      connect-timeout="10000" max-wait-time="15000" auto-connect-retry="true" socket-keep-alive="true"
      socket-timeout="15000" slave-ok="true" write-number="1" write-timeout="0" write-fsync="true" />
  </mongo:mongo>
  <mongo:db-factory dbname="${mongo.dbname}" mongo-ref="mongo" username="${mongo.username}"
    password="${mongo.password}" />
  <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
  </bean>
</beans>