<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd "
  default-lazy-init="false">
  <description>文件导入</description>
  <bean id="extractFileToXmlService"
    class="com.smate.center.open.service.interconnection.pub.extract.ExtractFileToXmlServiceImpl" lazy-init="false">
    <property name="importFileTemplateFolder" value="classpath:template/importfilexsl"></property>
  </bean>
</beans>