<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
  default-lazy-init="true">
  <description>Spring公共配置文件</description>
  <!-- 定义受环境影响易变的变量 -->
  <bean id="propertyPlaceholderConfigurer" class="com.smate.core.base.utils.factory.config.DynamicServerConfig">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:config/system.development.properties</value>
        <value>classpath:config/system.test.properties</value>
        <value>classpath:config/system.uat.properties</value>
        <value>classpath:config/system.run.properties</value>
        <value>classpath:config/system.alpha.properties</value>
      </list>
    </property>
  </bean>
  <context:component-scan base-package="com.smate.core.base.psn.service*"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.core.base.utils.service*"
    scoped-proxy="interfaces" />
  <context:component-scan base-package="com.smate.sie.web.application.service*"
    scoped-proxy="interfaces" />
  <context:component-scan base-package="com.smate.core.base.file.service*"
    scoped-proxy="interfaces" />
  <context:component-scan base-package="com.smate.core.base.utils.file*"
    scoped-proxy="interfaces" />
  <context:component-scan base-package="com.smate.core.base.psn.dao*" scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.sie.web.application.dao*"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.core.base.utils.dao*"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.sie.core.base.utils.dao.psn*"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.sie.core.base.utils.dao.validate"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.core.base.utils.dao.local"
    scoped-proxy="targetClass" />
  <context:component-scan base-package="com.smate.core.base.file.dao" scoped-proxy="targetClass" />
  <!-- SCM-14486-移动端地址跳转功能 -->
  <context:component-scan base-package="com.smate.core.web.sns.filter" scoped-proxy="targetClass" />
  <!-- 同步restful -->
  <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
  <bean id="sessionFactoryMap" class="java.util.HashMap">
    <constructor-arg>
      <map>
        <entry key="sns" value-ref="sessionFactory-sns"></entry>
        <!-- <entry key="pdwh" value-ref="sessionFactory-pdwh"></entry> -->
        <entry key="cas" value-ref="sessionFactory-cas"></entry>
        <!-- <entry key="rol" value-ref="sessionFactory-sie"></entry> -->
        <entry key="sie" value-ref="sessionFactory-sie6"></entry>
        <!-- <entry key="rcmd" value-ref="sessionFactory-rcmd"></entry> -->
        <!-- <entry key="emailsrv" value-ref="sessionFactory-emailsrv"></entry> -->
      </map>
    </constructor-arg>
  </bean>
</beans>