/* ------------------------------------------------------------------

 Name: cueIE.css
 Function: Overrides for IE
 Last update: 1/18/08

---------------------------------------------------------------------*/

/*********************************************************************
 BODY & PAGE
**********************************************************************/

/*********************************************************************
 LINKS
**********************************************************************/

/*********************************************************************
 HTML ELEMENTS
**********************************************************************/
h1 {
  font-weight: 600; /* Bolder in IE 6 & 7 */
}

/*********************************************************************
 PAGE CLASSES
**********************************************************************/
.cueTopline {
  height: 13px;
}

/*********************************************************************
 COMPONENT CLASSES
**********************************************************************/

/*********************************************************************
 CSP OVERRIDE
**********************************************************************/

/* CSP STO Menu Component -------------------------------------------- */
a.shm_link001, a.shm_link001:visited {
  padding: 9px 22px 1px 22px !important; /* Nav Buttons wider in IE 6 & 7 */
}

li.shm_Selected a.shm_link001:hover, li.shm_Selected .shm_link001 {
  padding: 9px 22px 1px 22px !important; /* Nav Buttons wider in IE 6 & 7 */
}

LI.shm_link01 {
  margin-right: 8px;
  padding: 0 !important;
}

A.shm_link001 {
  margin-right: -8px !important;
}

.shm_StoParent {
  height: 53px !important;
}

.shm_List2 {
  PADDING-TOP: 4px;
}